.CardItem {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  text-align: center;  
  height: 100vh;  
}

.ItemImg {
  max-width: 100%;
}

.Header,
.ItemHeader,
.Info,
.ItemFooter {
  color: black;
}

.Option {
  margin: 0 auto;
}